<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :Pfname, "First Name" %><br />
    <%= f.text_field :Pfname %>
  </div>
  <div class="field">
    <%= f.label :Psname, "Surname" %><br />
    <%= f.text_field :Psname %>
  </div>
  <div class="field">
    <%= f.label :Psex, "Gender" %><br />
    <%= f.radio_button :Psex, 'male' %> 
    <%= label :psex_male, 'Male' %>
    <%= f.radio_button :Psex, 'female' %>
    <%= label :Psex_female, 'Female' %>
  </div>
  <div class="field">
    <%= f.label :Pcontactno, "Phone Number" %><br />
    <%= f.number_field :Pcontactno %>
  </div>
  <div class="field">
    <%= f.label :Paddress, "Address" %><br />
    <%= f.text_field :Paddress %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
