<h1>Patient Index</h1>

<table>
  <tr>
    <th>Patient Id No. |</th>
    <th>First Name |</th>
    <th>Surname |</th>
    <th>Sex |</th>
    <th>Contact Number |</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.id %></td>
    <td><%= patient.Pfname %></td>
    <td><%= patient.Psname %></td>
    <td><%= patient.Psex %></td>
    <td><%= patient.Pcontactno %></td>
    <td><%= patient.Paddress %></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Create New Medical Record', new_medrecord_path %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path %> |
<%= link_to 'Medical Records Index', medrecords_path %>
