<%= form_for(@medrecord) do |f| %>
  <% if @medrecord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medrecord.errors.count, "error") %> prohibited this medrecord from being saved:</h2>

      <ul>
      <% @medrecord.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :patient_id, "Patient Id" %><br />
    <%= f.text_field :patient_id %>
  </div>
  <div class="field">
    <%= f.label :bt, "Blood Type" %><br />
    <%= f.text_field :bt %>
  </div>
  <div class="field">
    <%= f.label :bp, "Blood Pressure" %><br />
    <%= f.number_field :bp %>
  </div>
  <div class="field">
    <%= f.label :hr, "Heart Rate" %><br />
    <%= f.number_field :hr %>
  </div>
  <div class="field">
    <%= f.label :defib, "Defibrillator" %><br />
    <%= f.text_field :defib %>
  </div>
  <div class="field">
    <%= f.label :hc, "Heart Condition" %><br />
    <%= f.text_field :hc %>
  </div>
  <div class="field">
    <%= f.label :drugs, "Drugs used/administered" %><br />
    <%= f.text_field :drugs %>
  </div>
  <div class="field">
    <%= f.label :alergies, "Alergies" %><br />
    <%= f.text_field :alergies %>
  </div>
  <div class="actions">
    <%= f.submit "Create Medical Record" %>
  </div>
<% end %>
