<h1>Medical Records Listing</h1>

<table>
  <tr>
    <th>Patient Id</th>
    <th>Blood Type</th>
    <th>Blood Pressure</th>
    <th>Heart Rate</th>
    <th>Defibrillator</th>
    <th>Heart Condition</th>
    <th>Drugs</th>
    <th>Alergies</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medrecords.each do |medrecord| %>
  <tr>
    <td><%= medrecord.patient_id %></td>
    <td><%= medrecord.bt %></td>
    <td><%= medrecord.bp %></td>
    <td><%= medrecord.hr %></td>
    <td><%= medrecord.defib %></td>
    <td><%= medrecord.hc %></td>
    <td><%= medrecord.drugs %></td>
    <td><%= medrecord.alergies %></td>
    <td><%= link_to 'Show', medrecord %></td>
    <td><%= link_to 'Edit', edit_medrecord_path(medrecord) %></td>
    <td><%= link_to 'Destroy', medrecord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Medical Record', new_medrecord_path %>
