<h1>Listing medrecords</h1>

<table>
  <tr>
    <th>P pid</th>
    <th>Bt</th>
    <th>Bp</th>
    <th>Hr</th>
    <th>Defib</th>
    <th>Hc</th>
    <th>Drugs</th>
    <th>Alergies</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medrecords.each do |medrecord| %>
  <tr>
    <td><%= medrecord.p_pid %></td>
    <td><%= medrecord.bt %></td>
    <td><%= medrecord.bp %></td>
    <td><%= medrecord.hr %></td>
    <td><%= medrecord.defib %></td>
    <td><%= medrecord.hc %></td>
    <td><%= medrecord.drugs %></td>
    <td><%= medrecord.alergies %></td>
    <td><%= link_to 'Show', medrecord %></td>
    <td><%= link_to 'Edit', edit_medrecord_path(medrecord) %></td>
    <td><%= link_to 'Destroy', medrecord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medrecord', new_medrecord_path %>
